.navbarcenter{
    padding-left:33%;
}

.navbar{
    color: rgba(33, 37, 41, 0.75);
}

.navbar-brand:hover{
    color:rosybrown;
}


.nav-link{
    list-style-type:none;
    }

.nav-link:hover{
    color:rosybrown;
}


a{
    color: rosybrown;
    text-decoration: none;
    font-size: large;
}

.address{
color: rgba(33, 37, 41, 0.75);
}



